*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    border: 1px solid black;
    width: 30vw;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(7,1fr);
}

input {
    padding: 10px;
    text-align: right;
    grid-column: span 4;
    border: none;
}
input[name="equation_display"] {
    font-size: 20px;
}
input[name="total_display"] {
    font-size: 30px;
}

button.operation[data-val="="] {
    grid-row: span 4;
}

button {
    font-size: 30px;
    padding: 10px;
}