*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    border: 1px solid black;
    width: 20vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
}

input[name="number_display"] {
    padding: 10px;
    text-align: right;
    font-size: 30px;
    grid-column: span 4;
}

button.operation[data-val="="] {
    grid-row: span 4;
}

button {
    font-size: 30px;
    padding: 10px;
}